# SPDX-FileCopyrightText: 2025 AstroSnail <astrosnail@protonmail.com>
#
# SPDX-License-Identifier: Apache-2.0

BasedOnStyle: Mozilla
# don't waste so much horizontal space, but keep aligned
AlignAfterOpenBracket: AlwaysBreak
# commit to the break
AllowAllArgumentsOnNextLine: false
# distinguish continuations from indents (like LLVM)
ContinuationIndentWidth: 4
