# SPDX-FileCopyrightText: 2025 AstroSnail <astrosnail@protonmail.com>
#
# SPDX-License-Identifier: Apache-2.0

BasedOnStyle: Mozilla
# don't waste so many spaces
AlignAfterOpenBracket: AlwaysBreak
# distinguish continuations from indents (like LLVM)
ContinuationIndentWidth: 4
