# SPDX-FileCopyrightText: 2025 AstroSnail <astrosnail@protonmail.com>
#
# SPDX-License-Identifier: Apache-2.0

AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterEnum: false
  AfterFunction: true
  AfterStruct: true
BreakAfterReturnType: TopLevel
BreakBeforeBraces: Custom
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
IndentCaseLabels: false
PointerAlignment: Right

# notes:
# - alignment/binpacking/onelining of array/struct initializers doesn't
#   seem to be controllable by this config, instead you need to manually
#   massage it with trailing commas until the formatter gets the message
# - WebKit's style of breaking CLEANUP attributes before variable
#   declarations seems to be triggered by ColumnLimit: 0, which is
#   undesirable.
