# SPDX-FileCopyrightText: 2025 AstroSnail <astrosnail@protonmail.com>
#
# SPDX-License-Identifier: Apache-2.0

/.direnv
/.pre-commit-config.yaml
/result

# vim
Session.vim
.*.swp
.swp
.swo
# potentially many swapfiles for unnamed buffers
